<p>Prezado(a) {nome_assessor},</p>

<p>
Conforme rotina interna de acompanhamento de desempenho de carteiras, identificamos que o cliente
<b>{nome_cliente} – {cod_cliente}</b> apresentou resultado abaixo do esperado no período analisado.
</p>

<p>Em vista disso, solicitamos sua atenção e esclarecimentos sobre os pontos abaixo:</p>

<p><b>1. Análise de desempenho</b><br>
1.1 Quais foram os principais fatores e/ou posições que contribuíram para o resultado observado?<br>
R: ___________________________________________<br><br>

1.2 Qual foi a estratégia adotada para a alocação do cliente no período?<br>
R: ___________________________________________
</p>

<p><b>2. Comunicação e alinhamento</b><br>
2.1 Houve comunicação recente com o cliente sobre desempenho e expectativas? Se sim, qual foi o feedback?<br>
R: ___________________________________________<br><br>

2.2 O cliente demonstrou ciência dos riscos e do comportamento esperado dos ativos/estratégia adotada?<br>
R: ___________________________________________
</p>

<p><b>3. Perfil e adequação</b><br>
3.1 Qual o nível de conhecimento do cliente em mercado financeiro?<br>
( ) Alto &nbsp;&nbsp; ( ) Médio &nbsp;&nbsp; ( ) Baixo<br><br>

3.2 Há procurador/terceiro com acesso ou influência nas decisões? Se sim, qual o contexto?<br>
R: ___________________________________________
</p>

<p>
Solicitamos retorno em até <b>{sla_business_days} dias úteis</b>.
</p>

<p>
Atenciosamente,<br>
Risco &amp; Compliance
</p>

